################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreApiCategories/obj
/Entities/obj
/DataAccess/obj
/Business/obj
